/* CHEFS PICTURES */

#menu .pic {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#menu .item {
  position: relative;
  overflow: hidden;
}

#menu .item:hover {
  opacity: 0.55;
}

/* BRING IN TEXT */
#menu .item:hover .item-text {
  opacity: 1;
}

#menu .item .item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 0;
  color: #fff;
  transition-delay: 50ms;
}

#menu .item .item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
}
#menu .item p {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 90;
}
